.cho {
    padding-top: 20px;
    padding-bottom: 20px;
}

.fon {
    background: linear-gradient(to bottom, rgb(240, 240, 240), rgb(0, 100, 255));
}

.fon2 {
    background: rgb(0, 100, 255);
    color: white;
}

.dar {
    color: lightblue;
    text-decoration: none;
}

.selected {
    text-decoration: underline;
    color: lightgreen;
}

.fon3 {
    background: linear-gradient(to top, rgb(0, 0, 125), rgb(0, 100, 255));
    color: white;
}

.fon4 {
    background: rgb(0, 0, 125);
    color: white;
}

img {
    width: 100%;
}

.pod {
    padding-top: 20px;
    padding-bottom: 20px;
}

.fon5 {
    background: linear-gradient(to bottom, rgb(0, 0, 125), rgb(0, 0, 0));
}
